<%- include('header'); -%>

<h1>welcome back. king admin</h1>


<a href="/">
    <button type = "button">go home page/main page habibi</button><br>
    
</a>
<a href="/api/clients">
    <button type = "button">clientslist</button><br>
    
</a>

<%- include('footer'); -%>