<%- include('header'); -%> 

<h1 id="">Name</h1> 
<hr>Mohamed Tahir</hr>
<hr></hr>

<h1 id="">Address</h1> 
<hr>somewhere on earth</hr>
<hr></hr>

<h1 id="">Phone</h1> 
<hr>+999 67474747</hr>
<hr></hr>

<h1 id="">Email</h1> 
<hr>mt2020@hw.ac.uk</hr>
<hr></hr>

<%- include('footer'); -%>