<%- include('header'); -%>

<h1>password/username wrong habibi</h1>
<p>u wrong</p><br>

<a href="/">
    <button type = "button">go home page/main page habibi</button><br>
</a>


<%- include('footer'); -%>